.*
.env
secrets.toml
**/__pycache__/
**/*.py[cod]
**/*$py.class
logs/
*.egg-info

key_vault/

*/conda.yml

!.gitignore
!.dockerignore

!.vscode/
.vscode/*
!.vscode/*.code-snippets

!.deployment/


helm_values.yaml
package-lock.yml
**/dagster_home/*


# dbt targets and deps
**/target/*
**/defer/*
!**/dbt/target/index.html
!**/dbt/manifest.json
!**/dbt/target/catalog.json

**/dbt_packages/*