# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
key_vault/
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal
*/conda.yml

logs/
.*
!.gitignore
!.dockerignore
helm_values.yaml
!.deployment/
package-lock.yml
**/dagster_home/*

# dbt targets and deps
**/target/*
**/defer/*
!**/dbt/defer/manifest.json
!**/dbt/target/index.html
!**/dbt/target/manifest.json
!**/dbt/target/catalog.json

**/dbt_packages/*